P {
	FONT-SIZE: 130%; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, sans-serif
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
H1 {
	FONT: bolder 130% Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000
}
H2 {
	FONT: bold 110% Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #003580; TEXT-DECORATION: none
}
.message {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.boldtext {
	FONT-WEIGHT: bold
}
#header {
	BACKGROUND: #483d8b; BORDER-BOTTOM: #ffffff 1px solid
}
#header2 {
	BACKGROUND: #483d8b
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#table {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#columna {
	FLOAT: left; MARGIN: 0px 0px 0px 8px; WIDTH: 175px
}
#columna #nav {
	BORDER-RIGHT: #d2d9e0 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d2d9e0 1px solid; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #d2d9e0 1px solid; TEXT-DECORATION: none
}
#columna #nav A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; WIDTH: 142px; COLOR: #003580; PADDING-TOP: 1px; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
#columna #nav A:hover {
	TEXT-DECORATION: underline
}
#columna #current_nav {
	BORDER-RIGHT: #d2d9e0 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../graphics/secondary_on_back.gif); PADDING-BOTTOM: 5px; FONT: 70% Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; BORDER-LEFT: #d2d9e0 1px solid; COLOR: #4189dd; TEXT-INDENT: 20px; PADDING-TOP: 10px; BORDER-BOTTOM: #d2d9e0 1px solid; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; FONT: 75% Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #003580; PADDING-TOP: 0px; HEIGHT: 70%; TEXT-DECORATION: none
}
#content P {
	FONT: 100% Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; TEXT-DECORATION: none
}
#content UL {
	MARGIN: 0px 0px 0px 16px; FONT: 75%/1.4em Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #003580; TEXT-DECORATION: none
}
#content IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; BORDER-LEFT: 0px; PADDING-TOP: 10px; BORDER-BOTTOM: 0px
}
#content A {
	FONT: 100% Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #003580; TEXT-DECORATION: none
}
#content A:hover {
	TEXT-DECORATION: underline
}
#popup {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; COLOR: #666666; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 70%; TEXT-ALIGN: left
}
#popup P {
	FONT-SIZE: 90%
}
#popup UL {
	FONT-SIZE: 90%; MARGIN: 0px 0px 0px 16px; LINE-HEIGHT: 1.4em
}
#popup A {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
#popup A:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
#tbl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; WIDTH: 80%; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#tbl #ltshade {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#tbl #dkshade {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: #d2d9e0; PADDING-BOTTOM: 5px; COLOR: black; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#tbl #ltshade SELECT {
	FONT-SIZE: 75%
}
#tbl_search_1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; WIDTH: 98%; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#tbl_search_1 #ltshade {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 70%; VERTICAL-ALIGN: top; COLOR: #191970
}
#tbl_search_1 A:link {
	FONT-SIZE: 103%; COLOR: red; TEXT-DECORATION: none
}
#tbl_search_1 A:visited {
	FONT-SIZE: 103%; COLOR: red; TEXT-DECORATION: none
}
#tbl_search_1 A:hover {
	FONT-SIZE: 103%; COLOR: red; TEXT-DECORATION: underline
}
#tbl_search_1 A:active {
	FONT-SIZE: 103%; COLOR: red; TEXT-DECORATION: none
}
#tbl_search_1 A:unknown {
	FONT-SIZE: 103%; COLOR: red; TEXT-DECORATION: none
}
#tbl_search_1 #dkshade {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 70%; PADDING-BOTTOM: 5px; COLOR: #00008b; PADDING-TOP: 5px
}
#tbl_search_1 H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; COLOR: #00008b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tborder {
	BORDER-RIGHT: #191970 1px solid; BORDER-TOP: #191970 1px solid; BORDER-LEFT: #191970 1px solid; BORDER-BOTTOM: #191970 1px solid
}
#tbl_search_2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; WIDTH: 99%; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#tbl_search_2 #ltshade {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 70%; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; COLOR: #191970; PADDING-TOP: 5px
}
#tbl_search_2 #dkshade {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 70%; PADDING-BOTTOM: 5px; COLOR: #191970; PADDING-TOP: 5px
}
#tbl_search_2 P {
	FONT-SIZE: 100%
}
#tbl_search_2 UL {
	FONT-SIZE: 100%
}
#tbl_search_2 UL P {
	FONT-SIZE: 100%
}
#tbl_search_2 .button {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 90%; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: font-size: 100%; Arial: 
}
#tbl #mdshade {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 75%; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#tbl .button {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 110%; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#tbl UL {
	FONT-SIZE: 100%; COLOR: #000000
}
#tbl P {
	FONT-SIZE: 80%
}
#tbl UL P {
	FONT-SIZE: 80%
}
.buttons {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 110%; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:link {
	FONT-SIZE: 103%; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 103%; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 103%; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 103%; TEXT-DECORATION: none
}
A:unknown {
	FONT-SIZE: 103%; TEXT-DECORATION: none
}
.header_back {
	BACKGROUND-IMAGE: url(../graphics/header_back.gif); BACKGROUND-REPEAT: repeat
}
.primary_off {
	FONT: 69% Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-ALIGN: center
}
.primary_on {
	BACKGROUND-IMAGE: url(../graphics/primary_on.gif); FONT: 69% Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #ffffff; BACKGROUND-REPEAT: repeat; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.primary_bott {
	BACKGROUND-IMAGE: url(../graphics/primary_bottom.gif); BACKGROUND-REPEAT: repeat
}
.secondary_on {
	BACKGROUND-IMAGE: url(../graphics/secondary_on_back.gif); FONT: 69% Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #4189dd; TEXT-INDENT: 150px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.secondary_off {
	BACKGROUND-IMAGE: url(../graphics/secondary_off_back.gif); FONT: 69% Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #003580; TEXT-INDENT: 20px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#secondary_top {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 16px 50%; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(../graphics/secondary_topback.gif); PADDING-BOTTOM: 0px; FONT: bold 69% Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #003580; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
UNKNOWN {
	MARGIN: 0px
}
.footer_line {
	BACKGROUND-IMAGE: url(../graphics/footer_line.gif); BACKGROUND-REPEAT: repeat
}
.footer {
	BACKGROUND-IMAGE: url(../graphics/footer_back.gif); FONT: bold 60% Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none; COLOR: #003580; BACKGROUND-REPEAT: repeat; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.footer_shadow {
	BACKGROUND-IMAGE: url(../graphics/footer_shadow.gif); BACKGROUND-REPEAT: repeat
}
.footer_bottom {
	BACKGROUND-IMAGE: url(../graphics/footer_bottom.gif); BACKGROUND-REPEAT: repeat
}
.footer_links {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; COLOR: #003580; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.font_search_title {
	FONT-SIZE: 120%
}
.font_search_content {
	FONT-SIZE: 90%
}
.search_back {
	BACKGROUND-IMAGE: url(../graphics/header_stars.gif)
}
UNKNOWN {
	FONT-SIZE: 80%; BORDER-LEFT: white 200px solid
}
UNKNOWN {
	BORDER-LEFT: #ffffff 7px solid
}
UNKNOWN {
	DISPLAY: none
}
UNKNOWN {
	CLEAR: both; BORDER-LEFT: #14297b 140px solid
}
UNKNOWN {
	FLOAT: right
}
UNKNOWN {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
#tbl TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
UNKNOWN {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 170%; BACKGROUND: #d2d9e0; PADDING-BOTTOM: 5px; COLOR: black; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#tbl_search_2 {
	FONT-SIZE: 120%; FLOAT: right
}
#tbl_search_1 {
	FONT-SIZE: 120%
}
UNKNOWN {
	FLOAT: right; WIDTH: 100%
}
